$background-color: #eee;
// $background-color: rgb(165, 165, 165);
$text_color: #222;
// $card-background-color: #fff;
// $card-background-color: rgb(238, 238, 238);
$card-background-color: #eee;
$menu-background-color: #333;
$menu-button-color: #ddd;
$menu-text-color: #919191;
$menu-text-highlight: #f1f1f1;
// $menu-text-highlight: #7171f1;
$accent-color: #1a87ee;
$accent-highlight: #1279ed;
$accent-color-dark: #e2c12e;
$accent-highlight-dark: #d4b32d;
$dark-mode: false;

@function dark_mode($dark-mode) {
	// Change Text, Primary, or Secondary color with boolean
}

@mixin easeOut {
	transition: all 0.5s ease-out;
}
