@mixin close_animation {
	transform: rotate(180deg);

	.btn-line {
		&:nth-child(1) {
			transform: rotate(45deg) translate(5px, 5px);
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(-45deg) translate(7px, -6px);
		}
	}
}

.menu-btn {
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 35px;
	cursor: pointer;
	@include easeOut;

	.btn-line {
		width: 28px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #000;
		@include easeOut;

		&.show {
			background: #ddd;
		}
	}

	&.close {
		@include close_animation();
	}
}

.menu-nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 1;
	width: 0%;
	transform: translate3d(100%, -5%, 0);

	background-color: #111;
	overflow-x: hidden;
	padding-top: 5%;
	transition: 0.5s;
	visibility: hidden;
	@include easeOut;

	list-style: none;

	&.show {
		visibility: visible;
		@include easeOut;
		transform: translate3d(0, -5%, 0);
		width: 25%;
	}
}

.menu-nav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.menu-nav a:hover {
	color: #f1f1f1;
}

@media screen and (max-width: 750px) {
	.menu-btn {
		right: 10px;
		top: 50%;

		&.close {
			right: 32%;
			@include easeOut;
		}

		.btn-line {
			&.show {
				background: #000;
			}
		}
	}
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
