@media screen and (max-width: 440px) {
	.home {
		margin-right: 30%;
	}
	.card {
		margin-right: 8%;
	}
	.menu-btn {
		right: 10px;
		top: 50%;

		&.close {
			right: 42%;
			@include easeOut;
		}

		.btn-line {
			&.show {
				background: $menu-background-color;
			}
		}
	}
	.menu-nav {
		.menu-branding {
			left: 0;
			padding: 10px;
			padding-left: 0px;
			padding-top: 30px;
			padding-bottom: 30px;

			.portrait {
				width: 70px;
				height: 70px;
			}
		}

		a {
			padding: 8px;
			padding-right: 30%;
			font-size: 18px;
		}

		&.show {
			width: 25%;
		}
	}

	h1 {
		font-size: large;
	}

	.card {
		margin-right: 12%;
	}
}
@media screen and (min-width: 441px) and (max-width: 910px) {
	.home {
		margin-right: 175px;
	}
	.menu-nav {
		height: 110%;
		.menu-branding {
			margin-top: 5.5vh;
			left: 0;
			padding: 10px;
			padding-left: 0px;
			padding-top: 30px;
			padding-bottom: 30px;

			.portrait {
				width: 100px;
				height: 100px;
			}
		}

		a {
			padding: 8px;
			padding-right: 30%;
		}

		&.show {
			width: 150px;
		}
	}
}
@media screen and (min-width: 911px) and (max-width: 1300px) {
	.menu-nav {
		height: 110%;
		.menu-branding {
			margin-top: 5.5vh;
			left: 0;
			padding: 10px;
			padding-left: 0px;
			padding-top: 30px;
			padding-bottom: 30px;

			.portrait {
				width: 100px;
				height: 100px;
			}
		}

		a {
			padding: 8px;
			padding-right: 30%;
		}
	}
}
@media screen and (min-width: 1301px) and (max-width: 1600px) {
	.menu-nav .menu-branding .portrait {
		width: 125px;
		height: 125px;
	}
}
